* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

font-family: 'Courier New', Courier, monospace
}

.navigation {
  display: flex;
  justify-content: space-between;
  background-color: #FF89BF;
  position: fixed;
  width: 100%;
  flex-shrink: 1;
  padding: 10px 40px;
  flex-wrap: wrap;
  top: 3px;
  padding: 2%;
}

.navigation a:hover {
  
  color: rgb(240, 93, 220);
  font-size: 35px;
  cursor: pointer;
  
}

#lastname {
  color: #fcd7ea;
}

h1 {
  font-size: 48px;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}


.navigation a {
  display: flex;
  color: #ffffff;
  text-decoration: none;
  
}

.navigation ul {
  list-style: none;
  display: flex;
  
  
} 
.navigation li {
  flex-direction: row;
  font-size: 38px;
  margin-right: 30px;
  background-color: #fcd7ea;
  outline-style: dotted;
  outline-width: 10%;
  outline-color: rgb(245, 255, 255);
  padding: 10px;
}

h2 {
  color: rgb(2, 3, 3);
  font-size: 30px;
}


.subheader {
  background-image: url('assets\Images\subheaderpic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 500px;    
} 

footer h4 {
  font-size: 30px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 40px;
  padding: 14px;
  display: block;
  color: rgb(78, 18, 48);
  background-color: #fcd7ea;
  outline-style: solid;
  outline-width: 10%;
  outline-color: rgb(226, 118, 190);
  box-shadow: 10px 10px 3px 2px rgb(36, 42, 44);
}

